@import "../../../../styles.scss";

.workitem {
    border-radius: 3px;
    background-color: #f0f0f0;
    margin: 15px;
    padding: 5px;
    border-left: 2px solid pink;
}

.child-workitem {
    margin-left: 20px;
}

.workitem-header {
    vertical-align: middle;
}

.workitem-header .wi-checkbox {
    margin: 0 7px;
    vertical-align: sub;
}

.workitem-header .wi-expand-icon {
    margin: 0 7px;
    vertical-align: middle;
    color: $c-lime;
}

.workitem-header .wi-title {
    vertical-align: middle;
    color: darkblue;
    font-weight: 500;
    font-size: 15px;
    width: 700px;
    display: inline-block;
    margin: 0 7px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    cursor: pointer;
}

    @media screen and (max-width: $size-xl) {
        .workitem-header .wi-title {width: 520px;} 
        [child-level="0"] .workitem-header .wi-title { width: 500px; }
        [child-level="1"] .workitem-header .wi-title { width: 480px; }
        [child-level="2"] .workitem-header .wi-title { width: 460px; }
        [child-level="3"] .workitem-header .wi-title { width: 440px; }
        [child-level="4"] .workitem-header .wi-title { width: 420px; }
        [child-level="5"] .workitem-header .wi-title { width: 400px; }
    }
    @media screen and (max-width: $size-lg) {
        .workitem-header .wi-title { width: 560px; }
        [child-level="0"] .workitem-header .wi-title { width: 540px; }
        [child-level="1"] .workitem-header .wi-title { width: 520px; }
        [child-level="2"] .workitem-header .wi-title { width: 500px; }
        [child-level="3"] .workitem-header .wi-title { width: 480px; }
        [child-level="4"] .workitem-header .wi-title { width: 460px; }
        [child-level="5"] .workitem-header .wi-title { width: 440px; }
    }
    @media screen and (max-width: $size-md) {
        .workitem-header .wi-title { width: 380px; } 
        [child-level="0"] .workitem-header .wi-title { width: 360px; }
        [child-level="1"] .workitem-header .wi-title { width: 340px; }
        [child-level="2"] .workitem-header .wi-title { width: 320px; }
        [child-level="3"] .workitem-header .wi-title { width: 300px; }
        [child-level="4"] .workitem-header .wi-title { width: 280px; }
        [child-level="5"] .workitem-header .wi-title { width: 260px; }
    }
    @media screen and (max-width: $size-sm) {
        .workitem-header .wi-title { width: 330px; } 
        [child-level="0"] .workitem-header .wi-title { width: 310px; }
        [child-level="1"] .workitem-header .wi-title { width: 290px; }
        [child-level="2"] .workitem-header .wi-title { width: 270px; }
        [child-level="3"] .workitem-header .wi-title { width: 250px; }
        [child-level="4"] .workitem-header .wi-title { width: 230px; }
        [child-level="5"] .workitem-header .wi-title { width: 210px; }
    }

[child-level="0"] .workitem-header .wi-title { width: 680px; }
[child-level="1"] .workitem-header .wi-title { width: 660px; }
[child-level="2"] .workitem-header .wi-title { width: 640px; }
[child-level="3"] .workitem-header .wi-title { width: 620px; }
[child-level="4"] .workitem-header .wi-title { width: 600px; }
[child-level="5"] .workitem-header .wi-title { width: 600px; }

.rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.icon-thermometer .icon-a {
    // font-size: 30px !important;
    color: $c-red;
}

.icon-thermometer .icon-b {
    color: white;
}

.icon-file .icon-a {
    color: $c-blue;
}
.icon-link .icon-a {
    color: transparent;
}
.icon-link .icon-b {
    color: $c-blue;
}
.icon-message .icon-a {
    color: $c-blue;
}
.icon-message .icon-b, .icon-file .icon-b {
    color: white;
}
.owner {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.owner a {
    color: black;
}

.workitem-icons {
    display: inline-block;
}

.btn-wi-desc-save {
    color: white;
    float: right !important;
    z-index: 10;
    position: relative;
}

.div-wi-description {
    padding: 3px 5px;
    cursor: pointer;
}