<div>

<mat-card class="workitem">
    <mat-card-content>
    <div class="workitem-title">
        <mat-checkbox
            class="wi-checkbox"
            [checked]="dataWorkitem['checked']"
            [(ngModel)]="dataWorkitem['checked']">
        </mat-checkbox>
        <i
            [ngClass]="showExpand ? 'fas fa-play fa-1x wi-expand-icon rotate down': 'fas fa-play fa-1x wi-expand-icon rotate'"
            aria-hidden="true" 
            (click)="clickShowExpand()">
        </i>
        <div class="wi-title" (click)="openChangeTitleDialog()">
            <span> {{ dataWorkitem['title'] }} </span>
        </div>
        <div class="workitem-icons">
            <span class="fa-stack icon-thermometer">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-thermometer-half fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-file">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-file-medical fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-link">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-link fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-message">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-comments fa-stack-1x icon-b"></i>
            </span>
            <span class="owner" (click)="openChangeOwnerDialog()"><a>Owner: {{ dataWorkitem['owner'] }}</a></span>
        </div>

    </div>
    <div class="workitem-description mt-3" *ngIf="showExpand">
        <!-- <editor [init]="{
            toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
          }"></editor> -->
        <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [config]="{ toolbar: [ 'heading', '|', 'bulletedList', 'numberedList', 'alignment:left', 'alignment:right', 'alignment:center', , 'undo', 'redo' ] }"></ckeditor> -->
        
        <div class="float-right">
            <button class="btn btn-warning btn-wi-desc-save">
                SAVE
            </button>
        </div>

        <ckeditor [editor]="Editor" [data]="dataWorkitem['description']"></ckeditor>
    </div>
    </mat-card-content>
</mat-card>
<div 
    *ngIf="dataWorkitem['children'] && dataWorkitem['children'].length > 0 && showExpand" 
    class="child-workitem"
    [attr.child-level]="level"
    >
    <app-comp-workitem  #content
        *ngFor="let chDataWorkitem of dataWorkitem['children'] ; let i = index"
        [dataWorkitem]="chDataWorkitem"
        [level]="level + 1"
    >
    </app-comp-workitem>
</div>

</div>
        