
<div class="workitem">
    <div class="workitem-title">
        <mat-checkbox
            class="wi-checkbox"
            [checked]="checked"
            [(ngModel)]="checked">
        </mat-checkbox>
        <i class="fas fa-play fa-1x wi-expand-icon rotate" aria-hidden="true"></i>
        <div class="wi-title">
            <span> {{ title }} </span>
        </div>
        <div class="workitem-icons">
            <span class="fa-stack icon-thermometer">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-thermometer-half fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-file">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-file-medical fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-link">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-link fa-stack-1x icon-b"></i>
            </span>
            <span class="fa-stack icon-message">
                <i class="fa fa-square fa-stack-2x icon-a"></i>
                <i class="fa fa-comments fa-stack-1x icon-b"></i>
            </span>
            <span class="owner"><a href="#">Owner: {{ ownerName }}</a></span>
        </div>

    </div>
</div>
        