/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$c-lime: #c0ca33;
$c-blue: #76a7eb;
$c-amber: #ffab00;
$c-green: #64dd17;
$c-red: #dd6085;

$size-xs: 0;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;